
    
    body{
        font-family: Arial, Helvetica, sans-serif;
        /* background-image:url("bandeau.jpg"); */
        background : linear-gradient(153deg, rgba(10, 53, 170, 0.534) 33%, rgb(255, 255, 255) 66%, rgba(10, 53, 170, 0.534) 100%);
        background-repeat: no-repeat;
        background-size: 100% ;
        height: 1000px;


    }
    
    
    .container {

        display: grid;
        grid-template-rows: repeat(18,1fr);
        grid-template-columns: repeat(18,1fr);
        width: 1500px;
        height: 900px;
        background-color: rgb(255, 255, 255);
        margin: 25px auto 0px auto;
        box-shadow: 10px 10px 15px rgba(114, 103, 103, 0.61);
    }

    /* .container div{

        border: 1px solid   black;
    } */

    .test1{

        grid-area: "header";        
        grid-area: 1/6/4/14;
        background-color: rgb(255, 255, 255);
        text-align: center;

    }

    .nom{

        font-weight: bolder;
        color:rgba(0, 0, 0, 0.801);
        text-shadow: 2px 2px 2px rgba(114, 103, 103, 0.863);
        border-radius: 10px;
        width: 100%;
        font-size: 30px;
        margin: auto;
        margin-top: 50px;
        padding: 15px 0px;
        background: rgb(131,58,180);
        /* background: linear-gradient(153deg, rgba(10, 53, 170, 0.534) 0% 33%, rgb(255, 255, 255)33% 66%, rgba(10, 53, 170, 0.534) 66% 100%); */
        background: linear-gradient(153deg, rgba(10, 53, 170, 0.534) 33%, rgb(255, 255, 255) 66%, rgba(10, 53, 170, 0.534) 100%);

    }

    .nom span{


        font-size: 45px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    
    .test2{

        grid-area: "photo";
        grid-area: 4/1/12/6;
        background-color: rgb(255, 255, 255);

    }

    .photo{

        text-align: center;
        border: none;

    }
    .photo img{

        border-radius: 50%;
        border: 8px solid   white;

    }

    .pro{

        grid-area: "exp";
        grid-area: 5/6/14/19;
        border: 2px solid #9da2ad;
        padding: 1em;
        border-radius: 30px;
        background-color: white;
    }

    .pro::before{

        content: "Mon Parcours Professionnel";
        position: absolute;
        background-color: #ffffff;
        top : 21.5%;
        left : 40%;
        padding-left : 10px;
        padding-right : 10px;
        font-size : 1.em;
        color :rgb(95, 15, 15);
    }

        
    ul{

        margin-left: -8px;
    }
    

    ul{

        list-style: none;
        
    }

    .secondnv li{
        color: black;
        padding-left: 25px;
    }

    .secondnv li:before {
        content: "\f1c9"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -25px; /* same as padding-left set on li */
        width: 25px; /* same as padding-left set on li */
      }

    .formations{

        grid-area: "form";
        grid-area: 14/6/19/13;        
        border: 2px solid #9da2ad;
        padding: 1em;
        border-radius: 30px;
        padding-top: 20px;
        margin-top: 10px;
        
    }

    .formations::before{

        content: "Mes formations";
        position: absolute;
        background-color: #ffffff;
        top : 69%;
        left : 40%;
        padding-left : 10px;
        padding-right : 10px;
        font-size : 1.3em;
        color :rgb(95, 15, 15);
    }

    .formations h1{
        text-align: center;
        font-size: 2em;
        color :rgb(95, 15, 15);
        font-weight: bolder;
        margin-bottom: 5px;
    
    }

    .formations ul{

        padding-top: 15px;
        font-size: 1.5em;
        font-weight: bolder;
        padding-left: 10%;
    }

    .formations li:before {
        content: "\f1aa"; /* FontAwesome Unicode */
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -25px; /* same as padding-left set on li */
        width: 25px; /* same as padding-left set on li */
      }

    .competence{

        grid-area: "comp";
        grid-area: 12/1/19/6;     
    }

    .skill {

        display : flex;
        border: 2px solid #9da2ad;
        padding: 1em;
        border-radius: 30px;
        width: 350px;
    }

    .skill::before{

        content: "Mes compétences";
        position: absolute;
        background-color: #ffffff;
        top : 57.3%;
        left : 19%;
        padding-left : 10px;
        padding-right : 10px;
        font-size : 1.3em;
        color :rgb(95, 15, 15);
    }
    .skill .name{
        display: flex;
        flex-direction: column;
        color: #6d7587;
        font-size: 1em;
        font-weight: 500;
        margin-right: 40px;
        
    }
    
    .skill .name span{   
        
        margin: 5px 0;
        box-shadow: 6px 6px 15px #b2b3b6, -6px -6px 15px #FFFFFF;
        padding: 10px 10px;
        text-align: center;
        border-radius: 40px;
        border: 3px solid #6d7587;
        transition: 0.2s;
        cursor: pointer;
    }
    
    .skill .name span:hover{   
        
        /* margin: 5px 0; */
        box-shadow: 6px 6px 15px #abacaf, -6px -6px 15px #FFFFFF,
        inset 6px 6px 15px #aaabad, inset -6px -6px 15px #FFFFFF;
        padding: 15px 15px;
        text-align: center;
        border-radius: 40px;
        border: 3px solid #6d7587;
        /* background-color: blue; */
    }
    .bar-container {
    
        display:flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .bar{
    
        width: 200px;
        height: 20px;
        border-radius: 20px;
        box-shadow: inset 6px 6px 6px #D9DADE, inset -6px -6px 6px #FFFFFF;
    
    }
    
    .bar .progress {
    
        height: 100%;
        width: 50%;
        background-color: red;
        border-radius: 20px;
    }
    
    .bar:nth-child(1) .progress {
    
        height: 100%;
        width: 100%;
        
    }
    .bar:nth-child(2) .progress {
    
        height: 100%;
        width: 100%;
        
    }
    .bar:nth-child(3) .progress {
    
        height: 100%;
        width: 100%;
        
    }
    .bar:nth-child(4) .progress {
    
        height: 100%;
        width: 100%;
        
    }
    .bar:nth-child(5) .progress {
    
        height: 100%;
        width: 100%;
        
    }

    .cmpt{

        text-align: center;
        font-size: 2em;
        color :rgb(95, 15, 15);
        font-weight: bolder;        
    }

   

    .expe{

        margin-left: 15px;
    }

    .test7{

        grid-area: "loisir";
        grid-area: 14/13/19/19;
        background-color: rgb(22, 53, 99);
        border: 5px solid black;
        border-radius: 5px;
        margin : 5px;

    }

    nav{

        width: 450px;
        margin: 0 0 0 10%;
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(114, 103, 103, 0.61);
        font-size: 18px;
        color: white;
        font-weight: bolder;
        text-align: center;
    }
    .expe{

        font-weight: bolder;
        color: rgb(95, 15, 15);
        margin-top: 0px;
        
    }

   
  /*accordion*/
      
  .content {
      box-sizing: border-box;
      font-size: 0.9em;
      max-height: 0;
      overflow: hidden;
      transition: max-height, .5s;
      position:relative;
      margin-bottom : 5px;
  }
  
  
  /* label .accordion-heading {
      width: 100%;      
      margin-left: 5px;
      font-size: 0.6em;
      box-shadow: 5px 3px 12px 5px rgba(0,0,0,0.1);
  } */
 
  
  .panel{
    box-shadow: 5px 3px 12px 5px rgba(0,0,0,0.1);
    margin-top: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    padding: 5px;
    font-size: 1.1em;
    
  }
  label{
      display: flex;
      width: 100%;
      cursor: pointer;
      user-select: none;
      color: #700000;
      margin: 0;
      }
    
  .content:before {
      content: '';
      width: 90%;
      display: block;
      margin-top: 5px;
      margin-bottom: 5px;
      transition: 0.3s;
      margin-left: 3px;
      
  
      }
  
  
  label:hover ~ .content{
      max-height: 400px;
      transition: max-height, 1s;
  }
  .accordion-heading:hover {
      background-color:#f2f3bd;
      box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.788);
      height: 60px;
      width: 100%;
      padding-top: 5px;
  }
 

  footer{
        height: 100px;
        text-align: center;
        font-style: italic;
        font-size: 1.5em;
        background: rgb(77, 73, 73);
        color: blanchedalmond;
        padding-top: 20px;
  }
  
    


